body {
    max-width: 90%;
    padding-top: 2.5rem;
}

button {
    cursor: pointer;
}

.header__container {
    background-color: var(--color-grey-1);
    height: 2.5rem;
    width: 100%;
    padding: 5px 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.heading__container {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-post__container {
    width: 65%;
    padding: 10px 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.suggestions__container {
    width: 35%;
    padding: 10px 3.125rem;
}

.user__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.user__img {
    height: 3.125rem;
}

.user__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new-post__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new-post__title {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--color-grey-4);
    border-radius: 5px;
    outline: none;
}

.new-post__text {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--color-grey-4);
    border-radius: 5px;
    outline: none;
    resize: none;
}

.new-post__title:focus, .new-post__text:focus {
    border-color: var(--color-brand-1);
}

.new-post__button {
    align-self: end;
    background-color: var(--color-brand-1);
    color: var(--color-white-fixed);
    padding: 15px;
    border-radius: 5px;
}

.new-post__button:hover {
    background-color: var(--color-brand-2);
}

.suggestion__list {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.suggestion__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.follow__button {
    background-color: var(--color-white-fixed);
    color: var(--color-grey-1);
    border: 1px solid var(--color-grey-1);
    padding: 5px 10px;
}

.follow__button--pressed {
    background-color: var(--color-brand-2);
    color: var(--color-white-fixed);
}

.follow__button:hover {
    border-color: var(--color-brand-2);
    color: var(--color-brand-2);
}

.follow__button--pressed:hover {
    color: var(--color-white-fixed);
}

.follow__button:active {
    background-color: var(--color-brand-2);
    border-color: var(--color-brand-2);
    color: var(--color-white-fixed);
}

.posts__container{
    padding: 10px 3.125rem;
    width: 60%;
}

.post__article {
    margin: 3.125rem 0;
}

.post__title {
    margin: 1.25rem 0;
}

.post__text {
    margin: 1.25rem 0;
}

.post__text--shorten {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.875rem;
}

.open-post__button {
    background-color: var(--color-grey-1);
    color: var(--color-white-fixed);
    padding: 10px;
    border-radius: 5px;
}

.open-post__button:focus {
    background-color: var(--color-brand-2);
}

#dialog__controller {
    border: none;
    border-radius: 10px;
    width: 50rem;
}

#dialog__controller::backdrop {
    background-color: #000;
    opacity: 0.8;
}

.dialog__container {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.dialog__header {
    display: flex;
    justify-content: space-between;
}

.button__close {
    position: relative;
    height: 2rem;
    width: 2rem;
}

.button__close:before, .button__close:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: ' ';
    height: 2rem;
    width: 2px;
    background-color: #333;
}

.button__close:before {
    transform: rotate(45deg);
}

.button__close:after {
    transform: rotate(-45deg);
}

@media (min-width: 1026px) {
    .suggestion__list {
        overflow-y: auto;
    }
}

@media (max-width: 1025px) {
    body {
        max-width: 100%;
    }
    
    .heading__container {
        flex-direction: column;
    }

    .new-post__container {
        width: 100%;
    }

    .suggestions__container {
        width: 100%;
        overflow-x: auto;
    }

    .suggestions__container > .title-2 {
        position: sticky;
        left: 0;
    }

    .suggestion__list {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .suggestion__item {
        min-width: 15rem;
        flex-direction: column;
        gap: 5px;
    }

    .posts__container {
        width: 100%;
    }

    #dialog__controller {
        width: 90%;
    }

    .dialog__container {
        width: 100%;
    }
}